body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),url('../dist/images/pizza-banner.jpg')  ;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
}

nav {
    display: flex;
    gap: 20px;
}

nav > button {
    padding: 12px;
    font-size: 1.1rem;
    background-color: antiquewhite;
    border: none;
    border-radius: 25px;
}


main {
    width: 700px;
    margin: 40px auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}

main > p {
    text-align: justify;
    color: rgb(129, 56, 56);
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 32px;
}

.home {
    width: 600px;
    display: flex;
    flex-direction: column;
}
